.contato{
    background: $color-primaria;
    border-radius: $btn-radius;
    margin: 0px 20px;
    font-size: 15px;
    
}
.menu{

background: $color-primaria;
    border-radius: $btn-radius;
    margin:0px;
    font-size: 15px;
}
.contato:hover{
    background: black;
}
.menu:hover{
    background: black;
}