@media(max-width:1150px){
    .container{
        width: 950px;
    }
}
@media(max-width:1024px){
    .container{
        width: 800px;
    }
}
@media(max-width:915px){
    .container{
        width: 600px;
        
    }
    .row{
        flex-direction: column ;
    }
    header nav{
        margin:20px 0;
    }
    img{
        flex-direction: column;
    }
}
@media(max-width:480px){
    .container{
        width: 300px;
        
    }
    .row{
        flex-direction: column ;
    }
    header nav{
        margin:20px 20px;
    }
    img{
        flex-direction: column;
        
    }
    @media(max-width:400px){
        .container{
            width: 200px;
            
        }
        .row{
            flex-direction: column ;
        }
        header nav{
            margin:20px 0;
        }
        img{
            flex-direction: column;
            
        }
    }
}